
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Dog</h2>
                    
                    <p>Barbara R. Morgenstern, PLLC is focused solely on family law. Since 1986 she has served families in Greensboro, Guilford County and throughout North Carolina.</p>
                    
                    <p>Family law is an area of the law that deals with family-related issues and domestic relations including the nature of marriage, civil unions, and domestic partnerships.</p>
                    
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="../img/services/barbara.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Double Dog Dang</h2>
                    
                    <p>Barbara R. Morgenstern, PLLC is focused solely on family law. Since 1986 she has served families in Greensboro, Guilford County and throughout North Carolina.</p>
                    
                    <p>Family law is an area of the law that deals with family-related issues and domestic relations including the nature of marriage, civil unions, and domestic partnerships.</p>
                    
                </div>
                <div class="col-md-4">
                  <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
   