
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Barbara Morgenstern</h2>
                    
                    <p>Barbara Morgenstern was admitted to practice in North Carolina in 1986, after receiving a Bachelor's Degree in 1977 in Spanish from Indiana University, and her J.D. degree from the University of North Carolina School of Law in 1986.</p>
                    
                    <p>Before forming her own firm in 1993, Ms. Morgenstern was an associate with the law firm of Hill, Evans, Jordan &amp; Beatty, P.L.L.C. in Greensboro, North Carolina. She currently practices in Guilford County. Ms. Morgenstern's practice is limited solely to family law. She was certified as a specialist in family law by the North Carolina State Bar in 1991.</p>
                    
                    <p>Ms. Morgenstern has served as chair of the Family Law Section of the North Carolina Bar Association. She has served on various committees of the Family Law Section and currently serves as a member of the Curriculum and Alternate Dispute Resolution committees of the North Carolina Family Law Section.</p>
                    
                    <p>Ms. Morgenstern is a frequent speaker at continuing legal education seminars sponsored by such providers as the North Carolina Bar Foundation, UNC Law School, and Wake Forest University School of Law. She has also served an adjunct professor of family law at Elon University School of law and as a guest lecturer at the University of North Carolina School of Law.</p>
                    
                    <p>Ms. Morgenstern has written and presented on a wide range of topics, including custody, child support, alimony, equitable distribution, valuation of professional licenses and degrees, proving income and depression of income, reconciliation agreements, the Model Relocation Act, ethics, and deposition techniques. Ms. Morgenstern is certified as an arbitrator by the American Academy of Matrimonial Lawyers and spends a substantial amount of her time conducting mediations. She currently serves as Treasurer of the North Carolina Chapter of the American Academy of Matrimonial Lawyers.</p>
                    
                    <p>Ms. Morgenstern has been listed in the Family Law Section of Best Lawyers in America since 1997, and was recently named Best Family Lawyer in Greensboro by Best Lawyers in America.</p>
                    
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="../img/services/barbara.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Melanie Y. Crenshaw</h2>
                    
                    <p>Melanie Y. Crenshaw was admitted to practice in North Carolina in 2009, after receiving a Bachelor’s Degree in French summa cum laude in 1998 from Elon University, and her J.D. Degree summa cum laude from the Elon University School of Law in 2009. Ms. Crenshaw is a member of the North Carolina Bar Association and the Greensboro Bar Association.</p>
                    
                    <p>During law school, Ms. Crenshaw served as the Symposium Editor for the Elon Law Review and as a member of the Elon Law Moot Court Board. Ms. Crenshaw competed at the University of North Carolina-Chapel Hill Craven Moot Court Competition where her team placed second and at the Regent University National Constitutional Law Moot Court Competition where her team received the second place brief award. From 2007 to 2009, Ms. Crenshaw served as the clerk for the Criminal Subcommittee of the North Carolina Pattern Jury Instructions Committee.</p>
                    
                    <p>Before entering law school, Ms. Crenshaw taught French at a high school in Fayetteville, North Carolina, for seven years. She also coached the school’s speech and debate team.</p>
                    
                    <p>Ms. Crenshaw is involved in the Greensboro community through her volunteer activities with United Way Young Leaders, as a tutor for Reading Connections and as a member of the Choral Society of Greensboro. Ms. Crenshaw is also trained as a presenter for the Family Life Council’s Parenting Under Two Roofs.</p>
                    
                </div>
                <div class="col-md-4">
                  <img style="margin-top: 25px;" class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
   